:root {
    --accent: rgba(10,10,10,50%);
    --bgcolor: rgb(197, 231, 235)
}

* {
    margin: 0;
    padding: 0px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
}

#container {
    display: flex;
    flex-direction: column;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    padding: 50px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    align-items: stretch;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--bgcolor);
    color: var(--accent);
    box-shadow: 0.1em 0.1em 0.1em 0.1em var(--accent);
    font-size: 1.5rem;
    width: 300px;
    height: 300px;
}

.field_name {
    font-weight: bold;
}

.read_flag {
    grid-area: 4 / 1 / 5 / 3;
    justify-self: center;
}

button {
    border-radius: 20px;
    color: var(--bgcolor);
    background-color: var(--accent);
    box-shadow: 0.1em 0.1em 0.1em 0.1em var(--accent);
    width: 8em;
    align-self: center;
}

dialog {
    display: grid;
    justify-items: center;
    gap: 10px;
    padding: 50px;
    margin: auto;
    border-radius: 20px;
    border: none;
    box-shadow: 0.1em 0.1em 0.1em 0.1em var(--accent);
}

h5 {
    padding-bottom: 50px;
}

#delete {
    grid-area: 5 / 1 / 6 / 2;
    justify-self: center;
    width: 6em;
    font-size: 0.8em;
}

#read {
    grid-area: 5 / 2 / 6 / 3;
    justify-self: center;
    width: 6em;
    font-size: 0.8em;
}